---
layout: bootcamp
root: .
venue: University College London
address: 26 Bedford Way, London, WC1H 0DS
country: United-Kingdom
humandate: November 6-7, 2013
humantime: 10:00 am - 4:30 pm
startdate: 2013-11-06
enddate: 2013-11-07
latlng: 51.523411,-0.128371
registration: restricted
instructor: ["Ben Waugh"]
contact: b.waugh@ucl.ac.uk
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}

<hr/>

<h2>Setup</h2>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/overview-editor.html %}
  </div>
  <div class="span6">
    {% include setup/overview-git.html %}
    {% include setup/overview-python.html %}
  </div>
</div>

<hr/>

<h2>Topics</h2>

<div class="row-fluid">
  <div class="span6">
    <h3><a href="lessons/swc-git/tutorial.html">Version control with Git</a></h3>
  </div>
  <div class="span6">
    <h3>Testing</h3>
  </div>
</div>

<hr/>

<h2>Reference Guides</h2>

<ul>
  <li><a href="{{page.root}}/lessons/ref/shell.html">The Unix Shell</a></li>
  <li><a href="{{page.root}}/lessons/ref/python.html">Python</a></li>
</ul>
