<p>
  <strong>Requirements:</strong>
  We will assume for this workshop that you are using a Linux PC:
  either a laptop or a remote machine that you can connect to using SSH.
  Ideally you will use your own laptop or connect to a system at your
  home institution: that way you will be able to continue using the
  same environment after the course. Please check the
  <a href="requirements.html">full list of requirements</a> before Wednesday
  to ensure the software you will need is available on your system.
</p>
